/*.landingBody {
  background: url('http://i.imgur.com/fw2h12L.jpg') no-repeat center center fixed;
  background-size: cover;
  background-position: center bottom;
  top: 0;
  background-size: fill;
  height: 92vh;
  width: vw;
  border: solid black 2px;
  z-index: -1
  background-color: blue;
}
*/
