.landingBody {
  background: url('http://i.imgur.com/fw2h12L.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.landingContent {
  background-position: center bottom;
  background-color:;
  top: 0;
  height: 99%;
  width: 57%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.landingEmpty {
  height: 100%;
  width: 43%;
}

.title-box {
  height: 50%;
  display: flex;
  align-items: center;
}

.title {
  margin: 0;
  margin-top: 30%;
  display: block;
  font-size: 6em;
  color: rgb(47, 38, 31);
  text-shadow: 2px 2px #D3D3D3;
  font-family: 'Indie Flower', cursive;
/*  background-color: rgba(242, 222, 120, 0.4);*/
}

.signup-box {
  height: 47%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.signup {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 30%;
  margin-top: 4%;
  margin-bottom: 35%;
  margin-left: 20px;
  margin-right: 20px;
/*  border-radius: 2em;*/
/*  background-color: rgb(32, 183, 204);*/
}

.signup-link {
  font-family: 'Noto Serif', serif;
  width: 100%;
  font-size: 1.1em;
  text-decoration: none;
  color: black;
  background-color: rgba(47, 38, 21, 1);
  color: #FAFAFA;
  border-radius: 20px;
  text-align: center;
  border: solid black 3px;
  padding: 10px;
}
