.error-modal {
  height: 100%;
  width: 100%;
  display: block;
  overflow: hidden;
  top: 0;
  z-index: 1;
}

.dashboard-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}


.dashboard-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;
}

.dashboard-header-text {
  margin: 0;
  height: 50px;
}

.dashboard-body {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.dashboard-column1 {
  height:100%;
  width: 30%;
  border: solid black 2px;
  margin: 0 3%;
}

.dashboard-column2 {
  height: 100%;
  width: 30%;
  border: solid black 2px;
  margin: 0 3%;
  overflow-y: scroll;
  background: ;
  background: url('http://i.imgur.com/vIOBIaZ.png') no-repeat center center fixed;
  background-size: cover;
}

.dashboard-column3 {
  height: 100%;
  width: 30%;
  border: solid black 2px;
  margin: 0 3%;
  background-color: rgb(47, 38, 31);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
}

.dashboard-form-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard-label {
  margin-top: 20px;
}
