body {
  margin: 0;
}

.nav-bar {
  width: 100%;
  background-color: rgb(47, 38, 31);
  height: 100%;
  font-size: 19px;
}

.nav {
  display: inline-block;
  margin: 5px 10px;
}

.nav-text {
  color: #FAFAFA;
  font-family: 'Indie Flower', cursive;
}
