.UpcomingMealItem {
  margin-bottom: 20px;
}

.meal-heading {
  margin:0;
/*  background-color: maroon;*/
  font-family: 'Noto Serif', serif;
}

.row-odd {
  margin: 0;
  font-family: 'Noto Serif', serif;
}

.row-even {
  margin: 0;
/*  background-color: grey;*/
  font-family: 'Noto Serif', serif;
}

.row-end {
  margin: 0;
/*  background-color: grey;*/
  font-family: 'Noto Serif', serif;
}

